.App{
  color: rgb(80, 80, 80);
}

.App__inner{
  display: flex;
  flex-direction: row;
}

.container{
  padding: 0 40px;
}

/* =====================sidebar */
.sidebar{
  font-size: 20px;
  margin: 40px 0;
  width: 300px;
  height: 500px;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.sidebar__inner{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.sidebar__nav > div{
  margin-bottom: 30px;
}

.sidebar__profile{
  margin-bottom: 40px;
}

.profile__link{
  text-decoration: none;
  color: inherit;
}
/* =====================post */
.posts{
  margin: 40px 20px;
  width:66%;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}